.navbar-categories {
  -webkit-box-shadow: 0px 6px 7px -6px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 6px 7px -6px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 6px 7px -6px rgba(0, 0, 0, 0.29);
}

.main-nav-items {
  cursor: pointer;
}

.main-nav-items a {
  text-decoration: none !important;
}
