.subsubcategory-list > li:first-child {
  font-weight: bold;
}

.subsubcategory-list {
  list-style-type: none;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  margin-left: 80px;
  margin-top: 40px;
  padding-left: 10px;
}

li {
  font-size: 0.9rem;
  line-height: 1.8;
}
